@import "tailwindcss";



@keyframes slideInRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 1s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.5s ease-out;
}
